<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      span {
        color: blueviolet;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div><span><%= userInfo.name %></span>님 환영합니다</div>
    <div>성별은 <span><%= userInfo.gender %></span>군요!!</div>
    <div>
      생년월일은
      <span><%= userInfo.year %></span>
      -
      <span><%= userInfo.month %></span>
      -
      <span><%= userInfo.day %></span>
    </div>
    <div>관심사는 <span><%= userInfo.hobby %></span>!!</div>
    <br />
    <br />
    <div>좋아하는 색상은 <span><%= userInfo.color %></span>!!</div>
    <div>좋아하는 숫자는 <span><%= userInfo.number %></span>!!</div>
    <a href="/">홈으로 이동</a>
  </body>
</html>
